[submodule "planners/multi_heuristic/pddlgym"]
	path = planners/multi_heuristic/pddlgym
	url = https://github.com/tomsilver/pddlgym
[submodule "planners/geometric_feasibility/grocery_bot_simulator"]
	path = planners/geometric_feasibility/grocery_bot_simulator
	url = https://github.com/portal-cornell/grocery-bot-simulator
