[submodule "planners/multi_heuristic/pddlgym"]
	path = planners/multi_heuristic/pddlgym
	url = https://github.com/tomsilver/pddlgym
[submodule "planners/multi_heuristic/pddlgym_planners"]
	path = planners/multi_heuristic/pddlgym_planners
	url = https://github.com/ronuchit/pddlgym_planners
