[submodule "planners/geometric_feasibility/grocery-perception"]
	path = planners/geometric_feasibility/grocery-perception
	url = https://github.com/portal-cornell/grocery-perception
[submodule "planners/multi_heuristic/pddlgym"]
	path = planners/multi_heuristic/pddlgym
	url = https://github.com/tomsilver/pddlgym
