annotated-types==0.6.0
anyio==4.3.0
certifi==2024.2.2
cloudpickle==3.0.0
contourpy==1.2.0
cycler==0.12.1
distro==1.9.0
exceptiongroup==1.2.0
fonttools==4.49.0
graphviz==0.20.1
gym==0.26.2
gym-notices==0.0.8
h11==0.14.0
httpcore==1.0.4
httpx==0.27.0
idna==3.6
imageio==2.34.0
importlib_metadata==7.0.2
importlib_resources==6.1.3
kiwisolver==1.4.5
lazy_loader==0.3
matplotlib==3.8.3
networkx==3.2.1
numpy==1.26.4
openai==1.13.3
packaging==24.0
-e git+https://github.com/tomsilver/pddlgym.git@870f9ac6ef77876ac7ab02e595248096a1e7cd84#egg=pddlgym
Pillow==9.5.0
pydantic==2.6.3
pydantic_core==2.16.3
pyparsing==3.1.2
python-dateutil==2.9.0.post0
PyYAML==6.0.1
scikit-image==0.22.0
scipy==1.12.0
six==1.16.0
sniffio==1.3.1
tifffile==2024.2.12
tqdm==4.66.2
typing_extensions==4.10.0
zipp==3.17.0
